/* This is a custom design that is applied to the top "tab bar", ie the Hbox in the fxml */
.customTabBar{
    -fx-background-color: #707070;
    -fx-background-radius: 20;
    -fx-pref-height: 160;
    -fx-translate-y: -5;

    -fx-padding: 30;
    -fx-spacing: 90;
}

/* This is the custom design applied to every "button" in the custom "tab bar" */
.customTab{
    -fx-background-radius: 8;

    -fx-pref-width: 160;
    -fx-pref-height: 100;
}